/*----------------
HEADER
-----------------*/
@media screen and (min-width:780px) and (max-width:915px){
    .header,
    .navbar{
        width: 95%;
        margin: auto;
    }
}

/*--------------------
RESPONSIVE MENU
--------------------*/

@media screen and (max-width:780px){
    .navbar .nav-list .menu-btn,
    .hamburger,
    .sm-wrapper{
        display: block;
    }
    .header{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        display: block;
    }
    .navbar .nav-list{
        display: none;
        position: absolute;
        background-color: #23282D;
        left: 0;
        height: auto;
        width: 34%;
        text-align: left;
        padding-left: 35px;
        padding-top: 20px;
    }
    .navbar .nav-list li{
        padding-bottom: 35px;
    }


    .button{
        display: none;
    }
    .header-info .logo{
        margin-bottom: 5px;
    }
    .search-bar{
        display: flex;
        margin-top: 0;
        padding-bottom:5px ;
    }

    .search-bar .fa-search{
        left: 68%;
        margin-top: 17px;
    }
    .search-bar input{
        margin: auto;
    }
/*-------------------   
   FEED
--------------------*/
    .welcome-home h1{
        font-size: 60px;    
     }
        
 /*------------------------
    FEATURES
-----------------------*/
    .feature-service .service-list .service-item{
        width: 50%;
        
    }
}

/*----------------
LANG SECTION
-----------------*/
@media screen and (max-width:1070px){
    .lang{
        margin: 0;
        width: 100%;
    }

}

@media screen and (max-width:800px){
    /*-----------------------
    COMMUNITY
    ------------------------*/
    .community .community-descp{
        position: absolute;
        top: 35%;
        left: 15%;
    }
    .community p{
        margin: auto;
        font-size: 18px;
        max-width: 60rem;
        margin-bottom: 20px;
    
    }
    .community h1{
        font-size: 50px;
        font-weight: 200;
        margin-bottom: 20px;
    }
    }

    /*----------------------
KNOW MORE
----------------------*/
@media screen and (max-width: 992px) {
    .container .container-info .info-item {
        flex: 50%;
        max-width: 50%;
    }
  }
  

    /*----------------------
  FOOTER
  -----------------------*/

  @media screen and (max-width:970px){
    .footer-wrapper .footer-item{
        flex:33.333333%;
    }

    .navbar .nav-link{
        padding-right: 10px;
    }

  }

  @media screen and (max-width:650px){
    .footer-wrapper .footer-item{
        flex:50%;
    }
  }