* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /*-------------------------
  HEADER
  --------------------------*/
  
  header {
    background-color: #23282d;
  }
  
  .header {
    width: 80%;
    display: flex;
    margin: 0 auto;
  }
  .header-info {
    flex: 80%;
    margin-top: 20px;
  }
  .header-info .logo {
    max-width: 85%;
    margin-bottom: 10px;
  }
  .search-bar {
    flex: 20%;
    margin-top: 30px;
    position: relative;
  }
  
  .search-bar input {
    padding: 10px 0 10px 0;
    width: 280px;
    background-color: #191e23;
    border: 1px solid #3f3f3f;
    outline: none;
  }
  
  .search-bar .fa-search {
    position: absolute;
    color: #bcbcbc;
    left: 90%;
    margin-top: 10px;
  }
  
  .navbar {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .navbar .nav-list {
    display: flex;
    list-style: none;
  }
  
  .navbar .nav-link,
  .navbar .dropdown-list .dropdown-link,
  .navbar .dropdown-list2 .dropdown-link {
    color: #eee;
    padding-right: 15px;
    text-decoration: none;
    font-weight: 600;
  }
  .navbar .dropdown-list {
    position: absolute;
    list-style: none;
    top: 19%;
    background-color: #32373c;
    padding: 5px 0 10px 5px;
    z-index: 999;
  }
  .navbar .dropdown-list::after {
    content: "";
    position: absolute;
    top: -18px;
    left: 23%;
    border-width: 9px;
    border-style: solid;
    z-index: 999;
    border-color: transparent transparent #32373c transparent;
  }
  .navbar .dropdown-list .dropdown-link {
    line-height: 30px;
  }
  .navbar .nav-link:hover,
  .navbar .dropdown-list .dropdown-link:hover {
    color: #2363b7;
  }
  
  .navbar .dropdown-list {
    display: none;
  }
  .navbar ul li:hover > .dropdown-list {
    display: block;
  }
  
  .button {
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: -1%;
  }
  
  .button .btn,
  .menu-btn,
  .sm-btn,
  .get-btn {
    background-color: rgb(7, 128, 172);
    color: #ffffff;
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    width: 130px;
    cursor: pointer;
  }
  
  .button .btn:hover,
  .menu-btn:hover,
  .sm-btn:hover,
  .get-btn:hover {
    background-color: rgb(48, 144, 179);
    color: rgb(214, 230, 230);
    transition: all 0.5s ease-in-out;
  }
  .navbar .nav-list .menu-btn {
    display: none;
  }
  .hamburger {
    color: rgb(149, 149, 149);
    font-size: 40px;
    cursor: pointer;
    display: none;
  }
  

  /*------------------------
FEED FOR SMALL DEVICE
------------------------*/
.sm-wrapper {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
    display: none;
  }
  .sm-wrapper span {
    font-size: xx-large;
    padding-right: 10px;
  }
  
  .sm-btn,
  .get-btn {
    width: 200px;
    font-size: x-large;
    font-weight: 400;
  }

  
/*------------------
FEED
------------------*/
.welcome-home {
    text-align: center;
    padding: 60px 0;
    background-color: #0073aa;
    color: #ffffff;
  }
  
  .welcome-home h1 {
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 20px;
  }
  
  .welcome-home p,
  .intro p,
  .showcase p,
  .features .feature-info > p,
  .getWP p {
    margin: auto;
    font-size: 25px;
    max-width: 45rem;
    font-weight: 100;
  }
  
  /*---------------------
  LANGUAGE SECTION
  ---------------------*/
  
  .lang {
    background-color: rgba(171, 233, 171, 0.774);
    color: black;
    width: 75%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
  }
  
  /*---------------------
  INTRO
  ---------------------*/
  .intro p {
    text-align: center;
    margin: 70px auto;
  }
  
  /*---------------------
  DASHBOARD
  ---------------------*/
  
  .dashboard {
    max-width: 80%;
    margin: auto;
    position: relative;
  }
  
  .dashboard .dashboard-img,
  .dashboard .iphone {
    max-width: 80%;
    margin: auto;
  }
  .dashboard .iphone {
    position: absolute;
    right: 10%;
    height: 80vh;
    top: 17%;
  }
  
  
  /*----------------------
  SHOWCASE
  -----------------------*/
  .showcase {
    text-align: center;
    position: relative;
    margin: auto;
    background-color: white;
  }
  
  .showcase .showcase-info {
    position: absolute;
    width: 100%;
    top: -80px;
    background-color: white;
  }
  .showcase h2,
  .features h1,
  .getWP h1 {
    font-size: 50px;
    font-weight: 200;
    padding-top: 80px;
    margin-bottom: 20px;
  }
  .showcase .showcase-info p {
    padding-bottom: 30px;
  }
  
  .showcase .discover {
      margin: 80px auto;
    }
    .showcase .discover a {
      text-decoration: none;
      color: rgb(29, 114, 133);
      font-size: 20px;
      font-weight: 500;
    }
    .showcase .discover a:hover {
      text-decoration: underline;
    }
    
    .showcase .discover::after {
      content: "";
      border-bottom: 2px solid rgb(236, 228, 216);
      position: absolute;
      width: 80%;
      text-align: center;
      bottom: -4%;
      right: 10%;
    }
  
  
    /*-----------------------------
    COLLAGE
    -----------------------------*/
  .collage {
    background: url("https://s.w.org/images/home/collage-min.jpg?6");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  
  /*-------------------------
  FEATURE
  -------------------------*/
  
  .features .feature-info {
    text-align: center;
  }
  .features h1 {
    padding-top: 40px;
  }
  .feature-service {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
  }
  
  .feature-service .service-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .feature-service ul li {
    border-bottom: 1px solid #eee;
  }
  .feature-service ul li:not(:nth-child(4n)) {
    border-right: 1px solid #eee;
  }
  .feature-service .service-list .service-item {
    flex-grow: 1;
    width: 25%;
    padding: 40px;
  }
  .feature-service .feature-icon {
    color: #00a0d2;
    font-size: 50px;
  }
  .feature-service p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .feature-descp {
    margin: auto;
    font-size: 20px;
    padding: 40px 0;
    max-width: 43rem;
    font-weight: 500;
    text-align: center;
    color: rgba(49, 47, 47, 0.856);
  }
  .feature-descp a {
    text-decoration: none;
    color: rgb(118, 78, 211);
  }
  
  
  /*---------------
COMMUNITY
-----------------*/
.community-image {
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.452)),
      url("https://s.w.org/images/home/community-2.jpg?3") no-repeat center top;
    height: 500px;
    max-width: 100%;
    position: relative;
  }
  
  .community {
    color: white;
  }
  .community .community-descp {
    position: absolute;
    top: 40%;
    left: 15%;
  }
  .community p {
    margin: auto;
    font-size: 25px;
    max-width: 60rem;
    margin-bottom: 20px;
  }
  .community h1 {
    font-size: 70px;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .community .community-btn {
    padding: 10px 20px;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
    color: black;
    font-weight: 100;
    border-color: rgb(214, 209, 209);
    border-radius: 4px;
    box-shadow: 1px 1px white;
    cursor: pointer;
  }
  .community .community-btn:hover {
    background-color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  
  /*----------------------------------
  GETTING WORDPRESS
  -----------------------------------*/
  .getWP {
    text-align: center;
    padding: 40px 0 80px 0;
  }
  
  .getWP .get-btn {
    margin-top: 30px;
    color: whitesmoke;
  }
  
  /*-------------------
KNOW MORE SECTION
-------------------*/
.container {
    position: relative;
  }
  .container .container-info {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 60px 0;
    flex-wrap: wrap;
  }
  .container .container-info .info-item {
    flex: 25%;
    max-width: 25%;
    padding: 30px;
  }
  .container .info-item ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  .container .info-item ol li {
    counter-increment: my-awesome-counter;
    position: relative;
  }
  .container .info-item ol li::before {
    content: counter(my-awesome-counter);
    font-size: 20px;
    position: absolute;
    color: whitesmoke;
    background-color: #CBCBCB;
    border-radius: 50%;
    text-align: center;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    box-shadow: 3px 3px 0 grey;
  }
  
  .container .container-info:after {
    content: "";
    display: table;
    clear: both;
  }
  .container a {
    text-decoration: none;
  }
  .container .container-info a:hover {
    color: rgb(136, 16, 16);
  }
  
  .container .container-info .container-heading {
    color: rgb(118, 78, 211);
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(207, 205, 205);
  }
  
  .container .container-info .container-head {
    border-bottom: 1px solid rgb(207, 205, 205);
    padding-bottom: 10px;
  }
  .container .container-info h4 {
    margin-bottom: 30px;
  }
  
  .container-info .info-item .container-descp {
    font-size: 17px;
  }
  
  .container .container-info .info-item img {
    width: 80%;
  }
  
  .container-info .info-item .WuImg {
    border: 1px solid rgb(207, 205, 205);
  }
  .container .container-info ol li {
    margin-bottom: 15px;
  }

  
/*------------------------
FOOTER
-----------------------*/
footer {
    margin: auto;
    padding: 30px 0 80px 0;
    background-color: #f7f7f7;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .footer-wrapper .footer-item {
    flex: 16.66666667%;
    margin-top: 20px;
  }
  .footer-wrapper ul li {
    padding-right: 40px;
    list-style: none;
    padding-bottom: 10px;
  }
  
  .footer-wrapper ul li a {
    text-decoration: none;
  }
  
  .footer-wrapper i {
    color: #bbbbbb;
  }
  
  .footer-wrapper abbr {
    text-decoration: none;
  }
  
  footer h3 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(156, 152, 152, 0.418);
    letter-spacing: 2px;
    font-family: "Times New Roman", Times, serif;
    padding-top: 40px;
  }
  
  